<%- include('includes/header', { user }); %>

<h1>SaaS Co. does that thing you need really well.</h1>
<p>
	Your company needs a thing, but you don’t want to build it in house. We do
	that thing, and we’re the best in the world at it.
</p>
<p><a href="/dashboard" class="start-btn">Get Started</a></p>

<h2>Why use SaaS Co.?</h2>
<ul>
	<li>Blazing fast</li>
	<li>For developers, by developers</li>
	<li>Edge!</li>
	<li>The bits that should be idempotent are idempotent</li>
	<li>Low code, high control</li>
	<li>At least three of our engineers know what a monad is</li>
</ul>

<h2>We can’t wait to see what you build.</h2>
<p>
	Grab your boss’s credit card today and get that thing you need in minutes.
	(After a short sales call, of course.)
</p>
<p><a href="/dashboard" class="start-btn">Schedule a Demo</a></p>

<%- include('includes/footer'); %>
