		</main>

		<footer>
			<a href="https://lwj.dev">a Learn With Jason project</a>
			<a href="https://github.com/learnwithjason/workos-six-figure-saas-contracts">source code</a>
			<a href="https://lwj.dev/workos">try WorkOS</a>
		</footer>
	</body>
</html>
